/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/js/**
public/css/**


.sass-cache
.phpstorm.meta.php
*.sass-cache
.DS_Store
**/.DS_Store
public/robots.txt
public/assets/js/*.js.map
public/assets/css/*.css.map

public/mix-manifest.json
*.js.map
*.css.map
